@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background: linear-gradient(#ebf4f5 0%, #b3c5df 100%) no-repeat;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  height: 100%;
}
